* {
	margin: 0;
	padding: 0;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

*:focus {
	outline: none;
	border: none;
	box-shadow: none;
}

a {
	text-decoration: none;
	color: inherit;
}

html {
	box-sizing: border-box;
	font-size: 62.5%;
	font-family: 'Montserrat', Helvetica, sans-serif;
}

body {
	font-size: 1.6rem;
	background: url(../img/bg.jpg) no-repeat;
	background-size: cover;
	background-position: top center;
}

::selection {
	background: hsla(10, 81%, 68%, 0.8);
}

.app-wrap {
	display: flex;
	flex-direction: column;
	height: 100vh;
	background-image: linear-gradient(
		to bottom,
		rgba(0, 0, 0, 0.2),
		rgba(0, 0, 0, 0.5)
	);
}

.header {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 5rem 1.5rem 0;
	position: relative;

	.input-box {
		max-width: 34rem;
		width: 100%;
		position: relative;
		justify-content: center;
	}

	#geolocate {
		background: none;
		border: none;
		position: absolute;
		top: 50%;
		right: 1rem;
		transform: translateY(-50%);
		// border: 1px solid black;
		padding: 0.4rem;
		border-radius: 0.5rem;

		cursor: pointer;
		transition: all 300ms ease;

		ion-icon {
			font-size: 2rem;
			color: #c24f38;
			display: block;
		}

		&:hover {
			background: hsla(10, 55%, 49%, 0.2);
		}
	}

	&__search-box {
		font: inherit;
		width: 100%;
		// max-width: 34rem;
		padding: 0.6em 0.95em;
		display: flex;
		align-items: center;
		// text-transform: lowercase;

		border: none;
		outline: none;
		background: rgba(255, 255, 255, 0.3);
		backdrop-filter: blur(4px);
		border-radius: 1.6rem 0 1.6rem 0;
		color: #313131;

		// border-bottom: 0.3rem solid hsl(144, 40%, 35%);
		border-bottom: 0.3rem solid #c24f38;
		transform: scale(1, 1);
		transition: background 300ms ease-out, border-radius 150ms ease-out;

		&:focus {
			background: rgba(255, 255, 255, 0.6);
		}
	}
}

.suggestions {
	margin: 0;
	padding: 0;
	position: absolute;
	top: 100%;
	max-width: 34rem;
	width: 100%;

	background: rgba(255, 255, 255, 0.3);
	backdrop-filter: blur(4px);
	border-bottom-right-radius: 1.6rem;

	//todo overflow
	&__item {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 0.6em 0.95em;
		list-style: none;

		transition: background 0.2s;
		cursor: pointer;

		&:hover,
		&.active {
			background: rgba(255, 255, 255, 0.25);
		}
	}

	span {
		font-size: 1.6rem;

		&.city {
			text-transform: capitalize;
		}

		&.country {
			font-size: 1.4rem;
			display: flex;
			align-items: center;
			font-weight: 500;
		}

		&.hl {
			background: hsla(10, 81%, 68%, 0.8);
		}
	}

	.flag-icon {
		font-size: 2rem;
		margin-left: 0.8rem;
		filter: saturate(95%) drop-shadow(0 0.2rem 0.5rem rgba(0, 0, 0, 0.2));
		border-radius: 50%;
	}
}

main {
	margin-top: 5rem;
	flex: 1 1 100%;
	padding: 2.5rem;
	padding-bottom: 5rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}

.location {
	color: white;

	&__city {
		font-size: 3.6rem;
		margin-bottom: 0.8rem;
		font-weight: 500;
		display: flex;
		align-items: center;

		.icon {
			font-size: 0.8em;
			margin-left: 1.2rem;
			margin-right: -1.5rem;
		}
	}

	&__date {
		font-size: 1.6rem;
	}
}

.current {
	color: white;
	display: flex;
	flex-direction: column;
	align-items: center;

	&__temp {
		font-size: 10.2rem;
		font-weight: 900;
		margin: 3.6rem 0 1rem;
		text-shadow: 0.2rem 1rem rgba(0, 0, 0, 0.8);
		display: flex;
		align-items: flex-start;
		line-height: 1;

		span {
			font-weight: 600;
			margin-left: 0.8rem;
		}
	}

	&__feels-like {
		margin-bottom: 3.6rem;
		font-style: italic;
	}

	&__weather {
		font-size: 3.8rem;
		font-weight: 700;
		font-style: italic;
		margin-bottom: 1.5rem;
		text-shadow: 0.1rem 0.4rem rgba(0, 0, 0, 0.5);
		display: flex;
		align-items: center;
		justify-content: center;
		cursor: pointer;
	}

	&__group {
		font-size: 2.4rem;
		font-weight: 500;
		text-shadow: 0.1rem 0.4rem rgba(0, 0, 0, 0.5);

		display: flex;
		align-items: center;
		justify-content: center;

		> span {
			display: flex;
			align-items: center;
		}

		&#other {
			margin-top: 2.4rem;
			font-size: 1.8rem;
			display: grid;
			grid-template-columns: max-content 6rem max-content;
			row-gap: 1.2rem;
			justify-content: center;
		}

		.left {
			grid-column: 1 / span 1;
			justify-self: end;
		}

		.center {
			justify-self: center;
			grid-column: span 2;
		}

		.right {
			grid-column: -1 / span 1;
			justify-self: start;
		}

		.full {
			grid-column: 1 / -1;
		}

		.unit {
			opacity: 0.8;
			margin-left: 0.5rem;

			&.temp {
				margin-left: 0.3rem;
				align-self: start;
			}

			&.deg {
				font-size: 1em;
				margin-left: 0.1em;
			}

			&.meter {
			}
		}
	}

	.unit {
		font-size: 0.7em;
	}

	.icon {
		font-size: 1.4em;
		margin: 0 0.8rem;
	}
}

.hide {
	opacity: 0;
}

.icon {
	display: inline-block;
}
